
# These comments are just examples; none of these API keys are valid, so don't bother trying to use them.

# OPENAI_API_KEY=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
OPENAI_API_KEY=

# PINECONE_API_KEY=a894d33f-4d1c-4fb2-9e72-7dbd5d52e63a
PINECONE_API_KEY=

# PINECONE_ENVIRONMENT=us-west1-gcp
PINECONE_ENVIRONMENT=

# PINECONE_INDEX_NAME=school
PINECONE_INDEX_NAME=

# MONGODB_URI='mongodb+srv://<username>:<password>@yourdatabasename.1abcdef.mongodb.net/?retryWrites=true&w=majority'
MONGODB_URI=''

# GOOGLE_CLIENT_ID=1234567890-abcdefghijklmnopqrstuvwxyz123456.apps.googleusercontent.com
GOOGLE_CLIENT_ID=

# GOOGLE_CLIENT_SECRET=abcdefghijklmnopqrstuvwxyz123456
GOOGLE_CLIENT_SECRET=

# NEXTAUTH_URL=http://localhost:3000 -- for local development. In production, this should be the URL of your deployed app.
NEXTAUTH_URL=http://localhost:3000

# NEXTAUTH_SECRET=abcdefghijklmnopqrstuvwxyz123456
# You can generate a secret by running `npx nextauth secret` in your terminal.
NEXTAUTH_SECRET=

# JWT_SECRET=abcdefghijklmnopqrstuvwxyz123456
# You can generate a secret by running `npx nextauth jwt-secret` in your terminal.
JWT_SECRET=

# ALLOWED_EMAIL_DOMAIN='@yourcompany.com'
ALLOWED_EMAIL_DOMAIN='@gmail.com'

# Leave this as-is for local development. In production, set this to 'production' (without the quotes)
NODE_ENV=development